[submodule "cob_command_tools"]
	path = cob_command_tools
	url = git://github.com/ipa320/cob_command_tools.git
[submodule "cob_robots"]
	path = cob_robots
	url = git://github.com/ipa320/cob_robots.git
[submodule "cob_driver"]
	path = cob_driver
	url = git://github.com/ipa320/cob_driver.git
[submodule "cob_common"]
	path = cob_common
	url = git://github.com/ipa320/cob_common.git
